td {
    border: 1px solid rgb(184, 184, 184);
}

td:nth-child(3n) {
    border-right: 3px solid black;
}

input {
    font-size: 1.5em;
    font-family: 'Ibarra Real Nova', serif;
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    padding: 0;
}

h1 {
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
}

button {
    width: 150px;
}

input:disabled {
    color: black;
}

input:focus {
    background-color: rgb(255, 219, 99) !important;
}

.third-row {
    border-bottom: 3px solid black;
}

.last-col {
    border-right: 1px solid black !important;
}

#sudoku-row {
    margin: 1em;
}

/*modal styles*/
button.close {
    width: 70px;
}